<form action="/createbook" method="post">
    <input type="text" name="title" placeholder="Title" />
    <input type="number" name="pages" placeholder="Pages" />
    <input type="submit" value="Save" />
</form>